@font-face {
    font-family: "icons";
    src: url("./icons.eot?9dc4b38c76339c154b32e9429461018a?#iefix") format("embedded-opentype"),
url("./icons.woff2?9dc4b38c76339c154b32e9429461018a") format("woff2"),
url("./icons.woff?9dc4b38c76339c154b32e9429461018a") format("woff"),
url("./icons.ttf?9dc4b38c76339c154b32e9429461018a") format("truetype"),
url("./icons.svg?9dc4b38c76339c154b32e9429461018a#icons") format("svg");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-air_pressure:before {
    content: "\f101";
}
.icon-battery:before {
    content: "\f102";
}
.icon-beacons:before {
    content: "\f103";
}
.icon-beam_high:before {
    content: "\f104";
}
.icon-beam_low:before {
    content: "\f105";
}
.icon-blinker_left:before {
    content: "\f106";
}
.icon-blinker_right:before {
    content: "\f107";
}
.icon-brakes_temperature:before {
    content: "\f108";
}
.icon-cruise_control:before {
    content: "\f109";
}
.icon-currency:before {
    content: "\f10a";
}
.icon-endpoint:before {
    content: "\f10b";
}
.icon-engine:before {
    content: "\f10c";
}
.icon-fuel_consumption:before {
    content: "\f10d";
}
.icon-fuel:before {
    content: "\f10e";
}
.icon-location_arrow:before {
    content: "\f10f";
}
.icon-menu:before {
    content: "\f110";
}
.icon-oil_temperature:before {
    content: "\f111";
}
.icon-oil:before {
    content: "\f112";
}
.icon-parking_brakes:before {
    content: "\f113";
}
.icon-rest_stop:before {
    content: "\f114";
}
.icon-retarder:before {
    content: "\f115";
}
.icon-route:before {
    content: "\f116";
}
.icon-ruler:before {
    content: "\f117";
}
.icon-startpoint:before {
    content: "\f118";
}
.icon-target:before {
    content: "\f119";
}
.icon-time:before {
    content: "\f11a";
}
.icon-water_temperature:before {
    content: "\f11b";
}
.icon-weight:before {
    content: "\f11c";
}
.icon-zoom_in:before {
    content: "\f11d";
}
.icon-zoom_out:before {
    content: "\f11e";
}
